@charset "UTF-8"
@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
	font-family: 'Roboto', sans-serif;
}

#conteudoTotal {
	margin: 0 auto;
	width: 100vh;
}

section {
	margin: 0 auto;
	padding-left: 50px;
	padding-right: 50px;
}

#container1 {
	display: flex;
	flex-direction: row;
}

#container1 div {
	width: 50%;
}

.pItem1 {
	font-size: 16px;
	line-height: 28px;
	color: #C4C4C4;
}

.pItem2 {
	font-size: 16px;
	line-height: 19px;
	color: #0285C9;
}

.pItem3 {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
	color: #84888C;
}

.h1Item{
	font-size: 42px;
	line-height: 49px;
	color: #041F8F;
	font-style: normal;
	font-weight: normal;
}

.h2Item {
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 44px;
	color: #041F8F;
}

.bigImg img {
	width: 500px;
	height: 460px;
}

.hItem {
	color: #303D63;
}

.pItem {
	font-style: normal;
	font-weight: normal;
	color: #84888C;
	line-height: 26px;
}

#container2 {
	display: flex;
	flex-direction: row;
	text-align: center;
}

#container2 div {
	width: 50%;
}

#container2 img {
	width: 100%;
}

#container2 h2 {
	font-size: 32px;
	line-height: 40px;
	color: #303D63;
}

#container2 p {
	font-size: 16px;
	line-height: 28px;
	color: #84888C;
}

.itemList {
	display: flex;
	flex-direction: row;
	width: 100%;
}

.item1 { 
	width: 33%;
	flex-direction: column;
	margin: 3px;
	text-align: center;
}

#container3 {
	display: flex;
	flex-direction: row;
	width: 100%;
	text-align: center;
	background-color: #0285C9;
	border-radius: 14px;
	align-items: center;
}

#container3 div {
	width: 50%;
}

#container3 h1 {
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 40px;
	color: #FFFFFF;
}

#container3 p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 26px;
	color: #FFFFFF;
}

#container4 {
	text-align: center;
}

#container5 {
	display: flex;
	flex-direction: row;
}

#container5 div h2 {
	font-style: normal;
	font-weight: normal;
	line-height: 137%;
	font-size: 32px;
	line-height: 40px;
	color: #303D63;
}

#container5 div p {
	
	font-size: 16px;
	line-height: 28px;
	color: #84888C;
}

.imgColumn {
	flex-direction: row;
}

.itemList1 {
	flex-direction: row;
}

.itemList2 {
	width: 50%;
}

#container6 {
	text-align: center;
}

#container6 h2{
	font-style: normal;
	font-weight: normal;
	line-height: 137%;
	font-size: 32px;
	line-height: 40px;
	color: #303D63;
}

#container6 p {
	font-size: 16px;
	line-height: 28px;
	color: #84888C;
}

.botaoStyle {
	border: 1px solid #0285C9;
	box-shadow: none;
	background-color: #0285C9;
	border-radius: 6px;
	color: white;
	padding: 10px 25px 10px 25px;
	font-weight: bold;
}

.botaoStyle:hover {
	background-color: white;
	color: #0285C9;
	transition: 0.5s;
}

#container7 {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#container7 div {
	width: 50%;
	text-align: center;
}

.hItem3 {
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 28px;
	color: #84888C;
}

.pItem4 {
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 28px;
	color: #84888C;
}

.hItem4 {
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	line-height: 28px;
	color: #303D63;
}

.pItem5 {
	font-style: normal;
	font-weight: 500;
	font-size: 18px;
	line-height: 28px;
	color: #303D63;
}

#container8 {
	display: flex;
	flex-direction: column;
	text-align: center;
	color: white;
	width: 100%;
}

#container8 h1 {
	font-style: normal;
	font-weight: normal;
	font-size: 32px;
	line-height: 44px;
}

.h1Item6 {
	font-style: normal;
	font-weight: bold;
	font-size: 32px;
	line-height: 32px;
	color: #041F8F;
}

#container8 p {
	font-style: normal;
	font-weight: normal;
	font-size: 16px;
	line-height: 28px;
}

#container9 {
	display: flex;
	flex-direction: row;
	width: 100%;
}

#container9 div {
	width: 33%;
	margin: 10px;
}

#container9 div img {
	width: 100%;
}

#container10 {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

#container10 h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 32px;
	color: #303D63;
}

.botaoStyle1 {
	border: none;
	box-shadow: none;
	border: 1px solid #041F8F;
	background-color: #041F8F;
	padding: 10px 25px 10px 25px;
	color: white;
	border-radius: 5px;
}

.botaoStyle1:hover {
	transition: 0.5s;
	background-color: white;
	color: #041F8F;
}